#agenda{
	background: #EEE;
	position: relative;
}
#agenda img.back{
	width: 100%;
	height: 100%;
	position: absolute;
	min-height: 550px;
	object-fit: cover;
	margin: 0;
	padding: 0;
}

#agenda .midle{
	min-height: 550px;
	position: relative;
	align-items: center;
}
#agenda .datas,
#agenda .temas{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#agenda .datas{
	border-right: solid 2px #FFF;
}
#agenda .datas ul{
	width: 100%;
}
#agenda .datas li{
	width: 100%;
}
#agenda .datas a{
	text-transform: uppercase;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 1.8rem;
	color: #FFF;
	position: relative;
	height: 50px;
	padding-right: 50px;
	cursor: pointer;
}
#agenda .datas span{
	color: #ffbf3f;
	margin-left: 15px;
}
#agenda .datas i{
	display: none;
}
#agenda .datas ul li:first-child i{
	position: absolute;
	width: 14px;
	height: 14px;
	display: block;
	right: -8px;
	background: #FFF;
	border-radius: 50%;
}




#agenda .temas button{
	background: none;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}
#agenda .temas img{
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
	overflow: hidden;
}
#agenda .temas span{
	color: #FFF;
	text-transform: uppercase;
	margin-top: 10px;
	font-weight: 600;
	font-size: 1.2rem;
}



#agenda .events{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 20px;
}
#agenda .events .tabs{
	display: block;
	background: rgba(3, 105, 145, 0.9);
	width: 50%;
	height: 100%;
	overflow: auto;
}
#agenda .events .tabs .indicator{
	display: none;
}
#agenda .events .tabs li{
	width: 100%;
	display: block;
	width: 100%;
}
#agenda .events .tabs li a{
	white-space: nowrap;
	display: flex;
	color: #ffbf3f;
	font-weight: bold;
	justify-content: flex-end;
	padding: 0 30px;
	font-size: 1.2rem;
}
#agenda .events .list{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255, 0.9);
	display: flex;
}
#agenda .event{
	padding: 20px;
	overflow: auto;
	display: none;
}
#agenda .event:first-child{
	display: block;
}
#agenda .event h2{
	margin: 0 0 10px;
	font-size: 3rem;
	color: #036991;
}

#agenda .event .data,
#agenda .event .local{
	display: inline-block;
	padding: 0px 10px;
	margin-right: 5px;
	background: rgba(255, 191, 63, 0.6);
	text-transform: capitalize;
	color: #444;
	font-weight: 500;
}
#agenda .event .texto{
	margin-top: 10px;
}
#agenda .event .texto img{
	border: solid 5px rgba(255, 255, 255, 0.8);
}
#events button.sair{
	position: absolute;
	top: 5px;
	right: 5px;
	background: #036991;
	width: 40px;
	height: 40px;
	z-index: 1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	color: #ebb763;
	cursor: pointer;
}